In [11]:
#List
#Tuple
#Set _ Least Usecase
#Dictionary

In [27]:
li = ["ahmad",True,10,4.5]

In [30]:
print(type(li))
print(li[0][2])
print(type(li[0]))

<class 'list'>
m
<class 'str'>

In [31]:

li = [2,"Ahmad",3.5,"Python"]
print(f" Addtion is {li[0]+li[2]}")
print(f" Concatination is {li[1] + li[3]}")

 Addtion is 5.5
 Concatination is AhmadPython

In [32]:
li = ["100","9","Python Class","n","a"]

In [35]:
print(f"Division Solution is {int(int(li[0])/int(li[1]))}")

Division Solution is 11

In [38]:
print("===replacement===")
replacePhrase = li[2].replace(li[3],li[4])
print(replacePhrase)

===replacement===
Pythoa Class

In [44]:
li = ["100","9","Python Class","n","a"]
sepratedStr=  li[2]

In [45]:
sepratedStr.replace(li[-2],li[-1])

'Pythoa Class'

In [46]:
li1 = [1,2,3,["A","B",4],"C"]

In [48]:
print(f"addition is {li1[0]+li1[1]+li1[2]+li1[3][-1]}")

addition is 10

In [49]:
print(f"Concatination is{li1[3][0]+li1[3][1]+li1[-1]}")

Concatination isABC

In [55]:
li1.append("Ahmad")

In [56]:
li1

[1, 2, 3, ['A', 'B', 4], 'C', 'Ahmad']

In [57]:
li1.insert(0,"Ahmad2")

In [60]:
li1.remove("Ahmad2")

In [61]:
li1

[1, 2, 3, ['A', 'B', 4], 'C', 'Ahmad']

In [66]:
li2 = [4,5,1,2]

In [67]:
li2.sort()

In [68]:
print(li2)

[1, 2, 4, 5]

In [71]:
t = (1,2,3,4,5,6)
t.append("Ahmad")

AttributeError: 'tuple' object has no attribute 'append'

In [72]:
li = [6,6,8,1,2,2,4]
tpl = (6,6,8,1,2,2,4)
st = {6,6,8,1,2,2,4}

In [73]:
print(f"list is {li}")
print(f"Tuple is {tpl}")
print(f"Set is {st}")

list is [6, 6, 8, 1, 2, 2, 4]
Tuple is (6, 6, 8, 1, 2, 2, 4)
Set is {1, 2, 4, 6, 8}

In [75]:
li = (1,2,3,4,5,6)
# list =[]
# tuple = ()
# set ={}
for value in li:
    print(value*2)

2
4
6
8
10
12

In [77]:
li = [1,2,3,[3,4,5,["Ahmad","Python"]]]
print(li[3][3][1])

Python

In [86]:
priceList = ["100,000","200,000","300,000"]
for SingplePrice in priceList:
    newPrice = SingplePrice.replace(",","")
    print(int(newPrice))

for eachElement in range(0,len(priceList)):
    # print(priceList[eachElement])
    newprice = priceList[eachElement].replace(",","")
    print(int(newprice))

100000
200000
300000
100000
200000
300000

In [87]:
priceList = ["100,000","200,000","300,000"]
for SingplePrice in priceList:
    newPrice = SingplePrice.replace(",","")
    print(int(newPrice))

for eachElement in range(0,len(priceList)):
    # print(priceList[eachElement])
    newprice = priceList[eachElement].replace(",","")
    print(int(newprice))
#---------------------------
li = ["Ahmad","2","7","python"]

100000
200000
300000
100000
200000
300000

In [102]:
li = ["Ahmad","2","7","python"]

for element in li :
    if isinstance(element,str):
        print(isinstance(element,str))
        if element.isdigit():
            print(int(element)**2)
        else:
            print(f"{element} is not a number")
    else:
        print(f"{element} is not a string")

True
Ahmad is not a number
True
4
True
49
True
python is not a number

In [102]:
#Dictionary

In [109]:
di = {"username":"Ahmad","gender":"Male","age":25,"hobby":"Coding"}

In [110]:
di

{'username': 'Ahmad', 'gender': 'Male', 'age': 25, 'hobby': 'Coding'}

In [113]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
di = {"name":[],"age":[]}

In [116]:
di = {"name":[],"age":[]}

In [117]:
print(di)

{'name': [], 'age': []}

In [118]:
di = {"name":[],"age":[]}

while True:
     nm = input("Enter your name: ")
     age = input("Enter your age: ")

     di["name"].append(nm)
     di["age"].append(age)

     choice = input("Want to add more person? (y/n):")
     if choice == "y":
         continue
     else:
         break

In [119]:
print(di)

{'name': ['Ahmad', 'Ali'], 'age': ['25', '26']}

In [ ]:
"Ahmed"

In [121]:
if "Ahmad" in di["name"]:
    print("it exist")
else:
    print("it does not exist")

it exist

In [125]:
di2 = {"k1":"value1","k2":"value2","k3":"value3"}
li = ["value1","value2","value3"]

In [127]:
print(li[0])
print(di2["k1"])

value1
value1

In [128]:
for i in li:
    print(i)

value1
value2
value3

In [132]:
for k in di2.values():
    print(k)

value1
value2
value3

In [133]:
priceDictionary = {"messyPrice":["100,00","200,00"],
                   "cleanedPrice":[]}

In [135]:
for price in priceDictionary["messyPrice"]:
    (priceDictionary["cleanedPrice"].
     append(int(price.replace(",",""))))

In [136]:
print(priceDictionary)

{'messyPrice': ['100,00', '200,00'], 'cleanedPrice': [10000, 20000]}

In [3]:
di = {"key1":"Value1","Key2":"Value2","Key3":"Value3"}
di["Key2"] = "Python"

In [4]:
di

{'key1': 'Value1', 'Key2': 'Python', 'Key3': 'Value3'}

In [5]:
di2={}
k = input("enter the name of key : ")
v = input("enter the value of key : ")
di2[k]=v

In [12]:
di2
userData = {}

In [15]:
# User Name , Gender , age, class, DOB

un = input("Enter your name: ")
ge = input("Enter your gender: ")
ag = input("Enter your age: ")
cl = input("Enter your class: ")
do = input("Enter your DOB:")


userData[un] = {"Gender":ge,"Age":ag,"Class":cl,"DOB":do}

In [21]:
userData = {"Ahmad":{"Gender":"Male","Age":25,"Class":"10th","DOB":"12/12/2000"}}

In [17]:
userData["Ali"]

['Male', '20', 'asd', 'asdas']

In [20]:
import pandas as pd

df = pd.DataFrame(userData)
print(df)

    Ahmad    Ali
0    Male   Male
1      25     20
2  Python    asd
3    9asd  asdas

In [19]:
df

    Ahmad    Ali
0    Male   Male
1      25     20
2  Python    asd
3    9asd  asdas

In [29]:
li = [0,"Ahmad",2,3,4,5]

di = {"name":"Ahmad","age":25,"hobby":"Coding"}

In [30]:
print(li[1])

Ahmad

In [31]:
print(di["name"])

Ahmad

In [32]:
print(di["hobby"])

Coding

In [33]:
li = [1,2,[3,4,5,6]]
li[2][2]

5

In [34]:
di = {"NumberList":[1,2,3,4,5],"name":"Ali"}

In [35]:
di["name"]

'Ali'

In [38]:
print(di)
print(di["NumberList"])
di["NumberList"][-1]

{'NumberList': [1, 2, 3, 4, 5], 'name': 'Ali'}
[1, 2, 3, 4, 5]

5

In [42]:
di2 = {"k1":["Ahmad","Ali"],"k2":{"nestedKey1":"nestedValue1","nestedKey2":"nestedValue2"}}

In [43]:
print(di2["k2"]["nestedKey2"])

nestedValue2

In [44]:
AD = {"nm":("Ahmad","Ali"),"ud":{"age":25,"gender":"Male","hobby":["PythonCode"]}}
# Print Ali , age and gender
# Append reading in hobby list

In [45]:
AD["ud"]["hobby"].append("Reading")
print(f"Name is {AD['nm'][1]} and age is {AD['ud']['age']} and gender is {AD['ud']['gender']}")

Name is Ali and age is 25 and gender is Male

In [46]:
AD["ud"]["hobby"] = "Reading"

In [52]:
di = {"k1":"v1","k2":"v2","k3":"v3"}
for i in di.values():
    print(i)

v1
v2
v3

In [ ]:
di["k1"]